name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - master
  repository_dispatch:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
          
      - name: Install dependencies
        run: npm install
        
      - name: Build project
        run: npm run build
        
      - name: Inject GitHub Vars into wrangler.toml
        env:
          GH_UUID: ${{ vars.UUID }}
          GH_PROXY_IP: ${{ vars.PROXY_IP }}
        run: |
          sed -i "s|UUID = \".*\"|UUID = \"$GH_UUID\"|g" wrangler.toml
          sed -i "s|PROXY_IP = \".*\"|PROXY_IP = \"$GH_PROXY_IP\"|g" wrangler.toml
        
      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

